body {
	width: 100%;
	height: 100%;
	display: flex;
	margin: 0;
	-webkit-animation: party .5s  infinite;
}
/* Sprialing to right colors */
.red {
	background-image: linear-gradient(135deg, #F96868 30%, #EDB784 50%);
}

.orange {
	background-image: linear-gradient(45deg, #EDB784 30%, #F9F28B 50% );
}
.yellow {
	background-image: linear-gradient(-45deg, #F9F28B 30%, #B0F98B 50% );
}
.green {
background-image: linear-gradient(-135deg, #B0F98B 30%, #8AE1F7 50% );
}
.blue {
	background-image: linear-gradient(135deg, #8AE1F7 30%, #9A8AF7 50% );
}
.purple {
	background-image: linear-gradient(45deg, #9A8AF7 30%, #F49FEA 50% );
}
.pink {
	background-image: linear-gradient(-45deg, #F49FEA 30%, #F96868 50% );
}
.redb {
	background-image: linear-gradient(-135deg, #F96868 30%, #EDB784 50%);
}
.orangeb {
	background-image: linear-gradient(135deg, #EDB784 30%, #F9F28B 50% );
}
.yellowb {
	background-image: linear-gradient(45deg, #F9F28B 30%, #B0F98B 50% );
}
.greenb {
background-image: linear-gradient(-45deg, #B0F98B 30%, #8AE1F7 50% );
}
.blueb {
	background-image: linear-gradient(-135deg, #8AE1F7 30%, #9A8AF7 50% );
}
.purpleb {
	background-image: linear-gradient(135deg, #9A8AF7 30%, #F49FEA 50% );
}
.pinkb {
	background-image: linear-gradient(45deg, #F49FEA 30%, #F96868 50% );
}
.redc {
	background-image: linear-gradient(-45deg, #F96868 30%, #EDB784 50%);
}

/* Sprialing to left colors */

.redd {
	background-image: linear-gradient(135deg, #F96868 60%, #EDB784 70%);
}

.oranged {
	background-image: linear-gradient(45deg, #F96868 30%, #EDB784 50% );
}
.yellowd {
	background-image: linear-gradient(135deg, #EDB784 30%, #F9F28B 50% );
}
.greend {
background-image: linear-gradient(-135deg, #F9F28B 30%, #B0F98B 50% );
}
.blued {
	background-image: linear-gradient(-45deg, #B0F98B 30%, #8AE1F7 50% );
}
.purpled {
	background-image: linear-gradient(45deg, #8AE1F7 30%, #9A8AF7 50% );
}
.pinkd {
	background-image: linear-gradient(135deg, #9A8AF7 30%, #F49FEA 50% );
}
.rede {
	background-image: linear-gradient(-135deg, #F49FEA 40%, #F96868 50%);
}
.orangee {
	background-image: linear-gradient(-45deg, #F96868 30%, #EDB784 50% );
}
.yellowe {
	background-image: linear-gradient(45deg, #EDB784 30%, #F9F28B 50% );
}
.greene {
background-image: linear-gradient(135deg, #F9F28B 30%, #B0F98B 50% );
}
.bluee {
	background-image: linear-gradient(-135deg, #B0F98B 30%, #8AE1F7 50% );
}
.purplee {
	background-image: linear-gradient(-45deg, #8AE1F7 30%, #9A8AF7 50% );
}
.pinke {
	background-image: linear-gradient(45deg, #9A8AF7 30%, #F49FEA 50% );
}
.redf {
	background-image: linear-gradient(135deg, #F49FEA 30%, #F96868 50%);
}


/* Class */
.row {
	height: 50%;
	width: 100%;
	display: flex;
}

.col {
	display: block;
	height: 100%;
	width: 50%;
}


.header{
	display: flex;
	justify-content: space-between;
	position: fixed;
	background: white;
	margin-left: 25%;
	width: 50%;
	text-align: center;
	font-family: flexed;
	font-size: 20px;
}

img{
	max-width: 20%;
}
@font-face {
	font-family: flexed;
	src: url(flexed.ttf);
}

.flexer{
	z-index: 1;
	position: fixed;
	width:100%;
	height: 100%;
	background: linear-gradient(45deg,rgba(241,124,88, .7),rgba(233,69,132, .7),rgba(36,170,219, .7),rgba(39,219,177, .7),rgba(255,220,24, .7),rgba(255,55,6, .7));
	background-size: 600% 100%;
  animation: gradient 1s linear infinite;
  animation-direction: alternate;

}




/* Animation*/
@-webkit-keyframes party {
	0%{
		transform:scale(1.1);
	}
	50%{
		transform:scale(1);
	}
	100%{
		transform:scale(1.1);
	}
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
